<%= form_for(@dosing) do |f| %>
  <% if @dosing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dosing.errors.count, "error") %> prohibited this dosing from being saved:</h2>

      <ul>
      <% @dosing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Attack</strong><br>
    <%= f.collection_select :attack_id, Attack.where(:user_id => current_user.id), :id, :started_at %>
  </div>
   <div class="field">
    <strong>Drug</strong><br>
    <%= f.collection_select :drug_id, Drug.all, :id, :name %>
  </div>
   <div class="field">
    <strong>Dosed at</strong><br>
    <%= f.datetime_select :dosed_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
