<p id="notice"><%= notice %></p>

<p>
  <strong>Attack:</strong>
  <%= Attack.find(@dosing.attack_id).started_at %>
</p>

<p>
  <strong>Drug:</strong>
  <%= Drug.find(@dosing.drug_id).name %>
</p>

<p>
  <strong>Dosed at:</strong>
  <%= @dosing.dosed_at %>
</p>

<%= link_to 'Edit', edit_dosing_path(@dosing) %> |
<%= link_to 'Back', dosings_path %>
