<h1>Listing prescriptions</h1>

<table class="tablesorter">
  <thead>
    <tr>
      <th>Prescribed at</th>
      <th>Drug</th>
      <th>Quantity</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @prescriptions.each do |prescription| %>
      <tr>
        <td><%= prescription.prescribed_at %></td>
        <td><%= Drug.find(prescription.drug_id).name %></td>
        <td><%= prescription.quantity %></td>
        <td><%= link_to 'Edit', edit_prescription_path(prescription) %></td>
        <td><%= link_to 'Destroy', prescription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescription', new_prescription_path %>
<%= link_to 'Home', :user_root %>
