<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= User.find(@prescription.user_id).email %>
</p>

<p>
  <strong>Prescribed at:</strong>
  <%= @prescription.prescribed_at %>
</p>

<p>
  <strong>Drug:</strong>
  <%= Drug.find(@prescription.drug_id).name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @prescription.quantity %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
