<tr>
  <td><%= attack.started_at %></td>
  <td><%= attack.ended_at %></td>
  <td><%= attack.pain_level  %></td>
  <td><%= attack.comment %></td>
  <td><%= attack.created_at %></td>
  <td><%= attack.updated_at %></td>
</tr>
