<h1>Listing attacks</h1>

<table class="tablesorter">
  <thead>
    <tr>
      <th>Started at</th>
      <th>Ended at</th>
      <th>Pain level</th>
      <th>Comment</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @attacks.each do |attack| %>
      <tr>
        <td class='cells'><%= attack.started_at.to_s.sub(" UTC", "") %></td>
        <td class='cells'><%= attack.ended_at.to_s.sub(" UTC", "") %></td>
        <td class='cells'><%= attack.pain_level %></td>
        <td class='cells'><%= attack.comment %></td>
        <td class='cells'><%= link_to 'Edit', edit_attack_path(attack) %></td>
        <td class='cells'><%= link_to 'Destroy', attack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attack', new_attack_path %>
<%= link_to 'Home', :user_root %>
