<h1>Listing attacks</h1>

<%= link_to 'New Attack', new_attack_path, :class => "btn btn-primary" %>

<%#<table class="tablesorter">%>
<table class="table">
  <thead>
    <tr>
      <th>Started at</th>
      <th>Ended at</th>
      <th>Pain level</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @attacks.each do |attack| %>
      <tr>
        <td class='cells'><%= attack.started_at.to_s.gsub(/:\d\d UTC/, "") %></td>
        <td class='cells'><%= attack.ended_at.to_s.gsub(/:\d\d UTC/, "") %></td>
        <td class='cells'><%= attack.pain_level %></td>
        <td class='cells'><%= attack.comment %></td>
        <td class='cells'><%= link_to 'Edit', edit_attack_path(attack), :class => "btn btn-info" %></td>
        <td class='cells'><%= link_to 'Destroy', attack, method: :delete, :class => "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
