<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= User.find(@attack.user_id).email %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @attack.started_at.to_s.gsub(/:\d\d UTC/, "") %>
</p>

<p>
  <strong>Ended at:</strong>
  <%= @attack.ended_at.to_s.gsub(/:\d\d UTC/, "") %>
</p>

<p>
  <strong>Pain level:</strong>
  <%= @attack.pain_level %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @attack.comment %>
</p>

<% Dosing.where(:attack_id => @attack.id).each do |dose| %>
<p>
  <strong>Dosing:</strong>
  <%= dose.dosed_at.to_s.gsub(/:\d\d UTC/, "") %>,
  <%= Drug.find(dose.drug_id).name %>, 
  <%= link_to 'Show', dosing_path(dose) %>
</p>
<% end %>

<%= link_to 'Edit', edit_attack_path(@attack) %> |
<%= link_to 'Back', attacks_path %>
