<h1>Home#index</h1>

Logged in as <strong><%= current_user.email %></strong>.

<p><%= link_to 'Attacks', [ :user_attacks ] %></p>
<p><%= link_to 'Dosings', [ :user_dosings ] %></p>
<p><%= link_to 'Drugs', [ :drugs ] %></p>
<p><%= link_to 'Prescriptions', [ :user_prescriptions ] %></p>
<p><%= link_to 'Stocks', [ :user_stocks ] %></p>

